@model TE_System.Models.TimeEntry
@using Utilities;

<!-- content -->
<div class="container-fluid" style="margin-bottom:25%">
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <strong>Entry Detail For:</strong>&nbsp;@Html.DisplayFor(model => model.StaffFullname)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-xs-6">
                @Html.LabelFor(model => model.Billability)
                <div class="text-accent">
                    <p>@Html.DisplayFor(model => model.Billability)</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                @Html.LabelFor(model => model.OnSite)
                <div class="text-accent">
                    <p>@Html.DisplayFor(model => model.OnSite)</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <table class='table table-bordered table-condensed'>
                <tr class="text-center">
                    <td><b>Days</b></td>
                    <td><b>Hours</b></td>
                </tr>
                <tr class="text-center">
                    <td>Mon @DateExtension.DayToDate(DayOfWeek.Monday, Session["week"].ToInteger())</td>
                    <td><span class='text-primary'>@Html.DisplayFor(modelItem => modelItem.MondayHours)</span></td>
                </tr>
                <tr class="text-center">
                    <td>Tue @DateExtension.DayToDate(DayOfWeek.Tuesday, Session["week"].ToInteger())</td>
                    <td><span class='text-primary'>@Html.DisplayFor(modelItem => modelItem.TuesdayHours)</span></td>
                </tr>
                <tr class="text-center">
                    <td>Wed @DateExtension.DayToDate(DayOfWeek.Wednesday, Session["week"].ToInteger())</td>
                    <td><span class='text-primary'>@Html.DisplayFor(modelItem => modelItem.WednesdayHours)</span></td>
                </tr>
                <tr class="text-center">
                    <td>Thu @DateExtension.DayToDate(DayOfWeek.Thursday, Session["week"].ToInteger())</td>
                    <td><span class='text-primary'>@Html.DisplayFor(modelItem => modelItem.ThursdayHours)</span></td>
                </tr>
                <tr class="text-center">
                    <td>Fri @DateExtension.DayToDate(DayOfWeek.Friday, Session["week"].ToInteger())</td>
                    <td><span class='text-primary'>@Html.DisplayFor(modelItem => modelItem.FridayHours)</span></td>
                </tr>
                <tr class="text-center">
                    <td>Sat @DateExtension.DayToDate(DayOfWeek.Saturday, Session["week"].ToInteger())</td>
                    <td><span class='text-primary'>@Html.DisplayFor(modelItem => modelItem.SaturdayHours)</span></td>
                </tr>
                <tr class="text-center">
                    <td>Sun @DateExtension.Sunday(Session["week"].ToInteger())</td>
                    <td><span class='text-primary'>@Html.DisplayFor(modelItem => modelItem.SaturdayHours)</span></td>
                </tr>
                <tr class="text-center">
                    <td><b>Total Hours:</b></td>
                    <td><b><span class='text-primary'>@Html.DisplayFor(model => model.TotalWeekHours)<span></b></td>
                </tr>
            </table>
        </div>
        <div id="frmRemarks">
        </div>
        <div class="form-group">
            <div class="pull-left">
                @Html.DisplayForBoolean(Model.isValidInfo)&nbsp;Info              
                @Html.DisplayForBoolean(Model.isValidBillability)&nbsp;Billability
            </div>
            <div class="pull-right">
                <button type="button"
                        id="btnFlagDetails"
                        class="btn btn-sm btn-warning"
                        onclick="ShowRemarksForm()"
                        title="add remarks">
                    <span class="fa fa-comment"></span>
                </button>
                <button type="button"
                        id="btnCloseSidebar"
                        class="btn btn-sm btn-default"
                        onclick="CloseSideBar()"
                        title="close">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<button type="button"
        id="sidebarclose"
        style="display:none"
        data-toggle="sidebar"
        data-target=".sidebar"></button>